<footer>
  <div class="footerDiv">
    <a target="_blank" href="https://github.com/tjbrandt/pokeplaylistv2"
      ><img class="logos" src="/images/github_logo.png" alt="github logo"
    /></a>
    <a target="_blank" href="https://pokeapi.co/"
      ><img class="logos" src="/images/pokeapi_logo.png" alt="pokeapi logo"
    /></a>
    <a target="_blank" href="https://open.spotify.com/"
      ><img class="logos" src="/images/spotify_logo_rgb_green.png"
    /></a>
  </div>
</footer>
