<header class="welcomeDiv">
  <div class="melBanner">
    <div id="melContainer">
      <img src="/images/meloetta_banner.png" alt=" meloetta_banner" />
    </div>
    <div id="pplogo">
      <img src="/images/pokeplaylist_logo.png" alt="pokeplaylist_logo" />
    </div>
  </div>
  <section class="introSect">
    <div class="introP">
      <p>Choose a Pokemon and get a Spotify playlist that's right for them!</p>
    </div>
  </section>
</header>
